.background-video {
    position: relative;
    width: 100%;
    height: 65vh;
    overflow: hidden;
  }
  
  .background-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
  }
  
  .gradient-overla {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
  }
  
  .text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1{
        font-weight: bold;
        tab-size: 500%;
        color: white;
    }
    h3{
        color: white;
        font-weight: 900;

    }
    h5{
        color: white;

    }
  }